$dark-green: #036B52;
$light-green: #2FC18C;
$dark-purple: #41197F;
$light-purple: #8958A3;
$dark-blue: #003be5;
$light-blue: #00D5E2;
$light-grey: #E1E5EB;
$dark-grey: #444955;
$black: #1A1B1C;
$white: #FFFFFF;
$background: #F5F5F5

